---
# https://yamllint.readthedocs.io/en/stable/rules.html
extends: default
ignore: |
  .tox/
  .cache

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments:
    # https://github.com/prettier/prettier/issues/6780
    min-spaces-from-content: 1
  # https://github.com/adrienverge/yamllint/issues/384
  comments-indentation: false
  document-start: disable
  indentation:
    indent-sequences: consistent
    spaces: 2
    level: error
  line-length:
    max: 160
    level: warning
  key-duplicates: enable
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  trailing-spaces: enable
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false
...
