- name: "Create namespace {{ item.kb_cluster_ns }}"
  kubernetes.core.k8s:
    name: "{{ item.kb_cluster_ns }}"
    api_version: v1
    kind: Namespace
    state: present

- name: "Create {{ item.kb_cluster_type }} cluster {{ item.kb_cluster_name }}"
  ansible.builtin.command:
    cmd: "kbcli cluster create {{ item.kb_cluster_type }} --version={{ item.kb_cluster_version }} {{ item.options }} {{ item.kb_cluster_name }} -n {{ item.kb_cluster_ns }}"
